RUNCHART_GRPC_ADDRESS=0.0.0.0:3030
RUNCHART_HTTP_BIND_ADDRESS=0.0.0.0
RUNCHART_HTTP_PORT=8080
RUNCHART_NAS_SCAN_PATH=/mnt/nas/runchart
RUNCHART_AUTH_SECRET=replace-me
RUNCHART_ENABLE_STRUCTURED_LOGGING=0
